/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.product-container {
    max-width: 1200px;
    height: 100vh;
    margin: 120px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega sombra para un efecto más pulido */
    border-radius: 8px; /* Bordes redondeados para un aspecto más moderno */
}

.product-main {
    display: flex;
    gap: 20px; /* Reduce el espacio entre la imagen y los detalles */
    margin-bottom: 40px;
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.product-details {
    flex: 2; /* Mayor espacio para los detalles del producto */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 24px; /* Tamaño de fuente más pequeño para un diseño más limpio */
    font-weight: bold;
    margin-bottom: 15px;
}

.product-price {
    font-size: 20px; /* Tamaño de fuente más pequeño para un diseño más limpio */
    color: #4CAF50;
    margin-bottom: 10px;
}

.product-stock {
    font-size: 16px;
    margin-bottom: 20px;
}

.buy-section {
    margin-bottom: 30px;
}

.buy-button, .add-cart-button {
    background-color: #3483FA;
    color: #fff;
    padding: 12px 20px; /* Reduce el padding para botones más compactos */
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Bordes más suaves para un estilo minimalista */
    margin-right: 10px;
    font-size: 14px; /* Tamaño de fuente más pequeño para botones compactos */
}

.add-cart-button {
    background-color: #D9E7FA;
    color: #8DB9FA;
}

.buy-button:hover {
    background-color: #2968c8;
}

.add-cart-button:hover {
    background-color: #e6b800;
}

.product-description-short {
    font-size: 14px; /* Tamaño de fuente más pequeño para una descripción más sutil */
    margin-bottom: 20px;
}

.product-features {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px; /* Tamaño de fuente más pequeño para características */
}

.product-features li {
    margin-bottom: 5px;
}

.product-description-long {
    margin-top: 20px;
}

.product-description-long h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-description-long p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .product-main {
        flex-direction: column;
    }

    .buy-section {
        display: flex;
        flex-direction: column;
    }

    .buy-button, .add-cart-button {
        width: 100%;
        margin-bottom: 10px;
    }
}
