{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FixWay - Taller Mecánico</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    {% include 'navbar.html' %}

    <header id="home" class="hero">
      <div class="container">
        <div class="cortina">
          <div class="side">
            <div
              class="item"
              style="background-image: url(../../static/images/foto1.jpg)"
            >
              <div class="content">
                <div class="card">
                  <div class="name">FixWay</div>
                  <div class="des">
                    Realizamos reparaciones especializadas para cualquier tipo
                    de vehículo, desde autos hasta camiones.
                  </div>
                  <button>ver mas</button>
                </div>
              </div>
            </div>
            <div
              class="item"
              style="background-image: url(../../static/images/foto2.jpg)"
            >
              <div class="content">
                <div class="card">
                  <div class="name">FixWay</div>
                  <div class="des">
                    Especialistas en diagnóstico y reparación de vehículos, con
                    atención personalizada y garantía de calidad.
                  </div>
                  <button>ver mas</button>
                </div>
              </div>
            </div>
            <div
              class="item"
              style="background-image: url(../../static/images/foto3.jpg)"
            >
              <div class="content">
                <div class="card">
                  <div class="name">FixWay</div>
                  <div class="des">Calidad</div>
                  <button>ver mas</button>
                </div>
              </div>
            </div>
            <div
              class="item"
              style="background-image: url(../../static/images/foto4.jpg)"
            >
              <div class="content">
                <div class="card">
                  <div class="name">FixWay</div>
                  <div class="des">Exelencia</div>
                  <button>ver mas</button>
                </div>
              </div>
            </div>
            <div
              class="item"
              style="background-image: url(../../static/images/foto5.jpg)"
            >
              <div class="content">
                <div class="card">
                  <div class="name">FixWay</div>
                  <div class="des">Garantía</div>
                  <button>ver mas</button>
                </div>
              </div>
            </div>
          </div>

          <div class="button">
            <button class="prev">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="next">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </header>

    <section id="nosotros" class="section nosotros">
      <div class="container">
        <h2>Nosotros</h2>
        <div class="row">
          <div class="column">
            <h3>MISIÓN</h3>
            <p>
              Ofrecer un servicio de calidad y buenos precios para nuestros
              clientes, entregando opciones tanto en repuestos como servicios, y
              resoluciones de dudas en tiempo real.
            </p>
          </div>
          <div class="column">
            <h3>VISIÓN</h3>
            <p>
              Ser una empresa referente en el mercado automotriz en calidad,
              capital humano, rentabilidad y solidez financiera, extendiendo las
              expectativas de clientes, empleados y proveedores.
            </p>
          </div>
          <div class="column">
            <h3>OBJETIVO</h3>
            <p>
              Entregar un servicio de calidad y de confianza para nuestros
              clientes, para brindar una experiencia de tranquilidad y bienestar
              en el mercado automotriz en todos sus servicios.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="ubicacion" class="section ubicacion">
      <div class="container">
        <h2>Ubicación</h2>
        <div class="row">
          <div class="map-column">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.3794735089955!2d-70.64826788480127!3d-33.44888908077262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5a8f2c5d839%3A0x5bfb29e1cf6fa5a1!2sSantiago%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1ses!2ses!4v1632779919936!5m2!1ses!2ses"
              width="100%"
              height="400"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div class="info-column">
            <p>
              <i class="fa-solid fa-location-dot"></i> Dirección: Calle Ejemplo
              123, Ciudad, País
            </p>
            <p><i class="fa-solid fa-phone"></i> Teléfono: +569 43567654</p>
            <p>
              <i class="fa-solid fa-envelope"></i> Email: contacto@fixway.com
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-column logo">
          <img
            src="{% static 'images/logo/logoSinfondo.png' %}"
            alt="Logo FixWay"
          />
        </div>

        <div class="footer-column contact-info">
          <h3>Contacto</h3>
          <p><i class="fa-solid fa-phone"></i> Teléfono: +569 43567654</p>
          <p><i class="fa-solid fa-envelope"></i> Email: contacto@fixway.com</p>
        </div>

        <div class="footer-column location">
          <h3>Ubicación</h3>
          <p>
            <i class="fa-solid fa-location-dot"></i> Dirección: Santiago, Chile.
          </p>
        </div>

        <div class="footer-column social-media">
          <h3>Síguenos</h3>
          <a href="#" class="social-icon"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="#" class="social-icon"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a href="#" class="social-icon"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="#" class="social-icon"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2024 FixWay - Derechos reservados</p>
      </div>
    </footer>

    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
