{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Fija</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="#home">FixWay</a>
            </div>
            <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="inventario">Productos</a></li>
            </ul>
        </div>
    </nav>

</body>
</html>
